extends layout

block content
    h1 Here is the list of the shelters 
    each shelter in shelters
      h4 #{shelter.location} shelter is for #{shelter.maxCapacity} people
      p Currently, the number of residents is #{shelter.residents.length}
     

    