extends layout

block content
    h2 Here is the shelter information you may need:
    h3 This shelter is based in #{shelter.address.city}
    h4 The address is #{shelter.address.addressDetail}
    p It is for #{shelter.maxCapacity} people so please check if there is any available room to stay.

      