extends layout

block content
    h4 Please make sure your personal information below is correct before you proceed!
    ol
    li Your name & surname: #{survivor.fullName}
    li Your gender: #{survivor.gender}
    li Your age: #{survivor.age}